<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>

    <%- include('./partials/nav') %>

      <div class="about-content">
        <h2>All Blogs</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus adipisci facere saepe quo officia deleniti corporis beatae at est! Soluta?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus adipisci facere saepe quo officia deleniti corporis beatae at est! Soluta?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus adipisci facere saepe quo officia deleniti corporis beatae at est! Soluta?</p>
      </div>

      <%- include('./partials/footer.ejs') %>
      
</body>
</html>